.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24

}

.container {
  width: 600px;
  margin:  auto;
  background-color: #83D5DA;
  text-align: center;
  padding: 20px 50px;
  border-radius: 5px;

}

.li{
  margin-top: 5px;
  border: 1px solid #bbb;
  padding: 5px 10px;
}

.body{
  background-color: dodgerblue;
  margin-top: 5px;
  border: 1px solid #bbb;


}

.close {
  -webkit-user-select: none;
  user-select: none;
  background-repeat: no-repeat;
  display: inline-block;
  fill: currentColor;
  height: 19px;
  width: 24px;
  overflow: hidden;
  transition: background-color 0.3s, fill 0.3s , border-radius 0.3s;
}

.close:hover {
  background-color: rgba(0, 0, 0, 0.05);
  fill: currentColor;
  border-radius: 50%;
}
