

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24

}

.container {
  width: 600px;
  margin:  auto;
  background-color: #83D5DA;
  text-align: center;
  padding: 20px 50px;
  border-radius: 5px;

}

.li{
  margin-top: 5px;
  border: 1px solid #bbb;
  padding: 5px 10px;
}

.body{
  background-color: dodgerblue;
  margin-top: 5px;
  border: 1px solid #bbb;


}

.mdc-checkbox .mdc-checkbox__native-control:enabled:checked~.mdc-checkbox__background, .mdc-checkbox .mdc-checkbox__native-control:enabled:indeterminate~.mdc-checkbox__background, .mdc-checkbox .mdc-checkbox__native-control[data-indeterminate=true]:enabled~.mdc-checkbox__background {
  border-color: var(--mdc-checkbox-selected-icon-color);
  background-color: black;
}
