.carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel-inner {
  display: flex;
  transition: transform 0.5s ease;
  width: 100%;
}

.carousel-item {
  flex: 0 0 100%; /* Faz com que cada item ocupe 100% do contêiner */
  height: 70vh; /* Ajusta a altura do item do carrossel para 70% da altura da visualização */
  /* Altere para outro valor se desejar uma altura diferente */
}

img {
  width: 100%; /* Ajuste a largura conforme necessário */
  max-width: 1200px; /* Defina um valor máximo para a largura */
  height: 800px; /* Ajuste a altura conforme necessário */
  background-size: cover;
  background-position: center;
}

/* Indicadores e outros estilos permanecem inalterados */
.carousel-indicators {
  position: absolute;
  bottom: 10px; /* Ajusta a posição dos indicadores */
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 0.5rem;
  z-index: 10; /* Garante que os indicadores fiquem sobrepostos às imagens */
}

.carousel-indicator {
  width: 12px; /* Aumenta o tamanho dos indicadores */
  height: 12px;
  background-color: gray;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s; /* Adiciona uma transição suave */
}

.carousel-indicator.active {
  background-color: blue;
}
.overflow-hidden {
  overflow: hidden;
}

.relative {
  position: relative;
}

.h-96 {
  height: 58rem; /* Aumenta a altura do slide */
}

.max-w-6xl {
  max-width: 72rem; /* Aumenta a largura máxima do contêiner do slide */
}

.object-cover {
  object-fit: cover;
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.absolute {
  position: absolute;
}

.top-0 {
  top: 0;
}

.left-0 {
  left: 0;
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.space-x-2 {
  margin-right: 0.5rem;
}

.bg-gray-800 {
  background-color: #333;
}

.bg-opacity-50 {
  background-color: rgba(0, 0, 0, 0.5);
}

.text-white {
  color: #fff;
}

.p-4 {
  padding: 1rem; /* Aumenta o padding dos botões de navegação */
}

.bg-gray-400 {
  background-color: #ccc;
}

.bg-blue-600 {
  background-color: #1d4ed8;
}

.w-4 {
  width: 1rem;
}

.h-4 {
  height: 1rem;
}

.rounded-full {
  border-radius: 9999px;
}


