.menu {
  display: flex;/* Coloca os botões em uma coluna */
  gap: 10px; /* Espaço entre os botões */
}

.menu-button {
  display: flex;
  align-items: center;
  gap: 8px; /* Espaço entre o ícone e o texto */
  transition: background-color  0.5s ease, color 0.3s ease;

}

.menu-button:hover {
  background-color: #000000; /* Cor de fundo ao passar o mouse (mais forte) */
  color: #ffffff; /* Cor do texto ao passar o mouse */
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
  vertical-align: middle; /* Alinha o ícone verticalmente com o texto */
  display: inline-flex;
  align-items: center;
}
