<div class="menu">
  <div class="menu-section">
    <button class="menu-button" mat-button>
      <span class="material-symbols-outlined">home</span>
      Início
    </button>
  </div>
  <button class="menu-button" mat-button (click)="fileInput.click()">
    <span class="material-symbols-outlined">photo_camera</span>
    Enviar Foto
  </button>
  <input type="file" class="file-upload" #fileInput style="display: none;" onchange="console.log(event.target.files)">



  <div class="menu-section">
    <button class="menu-button" mat-button [matMenuTriggerFor]="menu">Botão Menu</button>
    <mat-menu #menu="matMenu">
      <button class="menu-button" mat-menu-item>Item 1</button>
      <button class="menu-button" mat-menu-item>Item 2</button>
    </mat-menu>
  </div>
  <div class="menu-section">
    <button class="menu-button" mat-button [matMenuTriggerFor]="menuapps">
      <span class="material-symbols-outlined">grid_view</span>
      Apps
    </button>
    <mat-menu #menuapps="matMenu">
      <button class="menu-button" mat-menu-item>App Item 1</button>
      <button class="menu-button" mat-menu-item>App Item 2</button>
    </mat-menu>
  </div>
</div>
